# Default NAMESPACE created by R
# Remove the previous line if you edit this file

export("ncp")
export("Beta")
export("bibd")
export("print.bibd")
export("print.design.regression")
export("conf.matrix")
export("Confint.mean.two_stage")
export("design.reg.polynom")
export("design.regression.polynom")
export("hadamard.matrix")
export("is.hadamard")
export("defining_relation.fractional_factorial.two_levels")
export("delta.t.test")
#export("")
#export("")
#export("")
# Export all names
exportPattern("size.")
exportPattern("seqadd.")
exportPattern("add_size.")
exportPattern("triangular.")
exportPattern(".triangular.")

# Imports:
# this is not enough:
# importFrom(gmp, as.bigz, factorize, isprime, "modulus<-")
# so fall back to:
import(gmp)
# now selectively:
importFrom(mvtnorm, qmvnorm, qmvt)
importFrom(orthopolynom, legendre.polynomials)
importFrom(polynom, polynomial)
importFrom(nlme, pdIdent)
importFrom(crossdes, MOLS)
importFrom("graphics", "lines", "plot", "points", "polygon", "text")
importFrom("stats", "deriv", "pf", "pnorm", "power.prop.test",
           "power.t.test", "qchisq", "qf", "qnorm", "qt", "sd",
           "uniroot", "update", "var")
importFrom("utils", "combn", "data")

## S3 methods
S3method("plot","triangular.test")
S3method("print","bibd")
S3method("print","design.regression")
S3method("print","triangular.test")
S3method("update","triangular.test")
S3method("update","triangular.test.norm")
S3method("update","triangular.test.prop")
